<form class="container" name="myForm" (submit)="onSubmit()">
  <h3>Account Information</h3>
  <label for="firstName">First Name</label>
  <input 
  class="form-control"
  type="text" 
  name="firstName" 
  placeholder="First Name"
  required  
  minlength="4" 
  maxlength="24"
  [(ngModel)]="user.firstName"
  #firstName="ngModel"
  />
  <div *ngIf="!firstName.valid" class="alert alert-danger">
    <div *ngIf="firstName.errors.required">
      First Name is required.
    </div>
    <div *ngIf="firstName.errors.minlength">
      First Name must be at least 4 characters long.
    </div>
    <div *ngIf="firstName.errors.minlength">
      First Name must be lower then 24 characters.
    </div>
  </div>

  <label for="lastName">Last Name</label>
  <input 
  class="form-control"
  type="text" 
  name="lastName" 
  placeholder="Last Name"
  required 
  minlength="4" 
  maxlength="24"
  [(ngModel)]="user.lasName"
  #lastName="ngModel"
  />
  <div *ngIf="!lastName.valid" class="alert alert-danger">
    <div *ngIf="lastName.errors.required">
      Last Name is required.
    </div>
    <div *ngIf="lastName.errors.minlength">
      Last Name must be at least 4 characters long.
    </div>
    <div *ngIf="lastName.errors.minlength">
      Last Name must be lower then 24 characters.
    </div>
  </div>

  <label for="email">Email</label>
  <input 
  class="form-control"
  type="email" 
  name="email" 
  placeholder="Email"
  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
  required 
  [(ngModel)]="user.email"
  #email="ngModel"
  />        
  <div *ngIf="!email.valid" class="alert alert-danger">
    <div *ngIf="email.errors.required">
      Email is required.
    </div>
    <div  *ngIf="email.errors.ng-pattern">
      Please enter the correct email, this email is not valid.
    </div>
  </div>

  <label for="password">Password</label>
  <input 
  class="form-control"
  type="text" 
  name="password" 
  placeholder="Password"
  required 
  minlength="16" 
  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
  [(ngModel)]="user.password"
  #password="ngModel"
  />
  <div *ngIf="!password.valid" class="alert alert-danger">
    <div *ngIf="password.errors.required">
      Password is required.
    </div>
    <div *ngIf="password.errors.minlength">
      Password must be at least 16 characters long.
    </div>
  </div>

  <label for="passwordConfirmation">Password confirmation</label>
  <input 
  class="form-control"
  type="text" 
  name="passwordConfirmation" 
  placeholder="Password Confirmation"
  [(ngModel)]="user.passwordConfirmation"
  #password="ngModel"
  />
  <div *ngIf="passwordConfirmation !== password" class="alert alert-danger">
    Password Confirmation must match Password.
  </div>

  <label for="passwordConfirmation">Street Address</label>
  <input 
  class="form-control"
  type="text" 
  name="street"
  placeholder="Street Address"
  required
  [(ngModel)]="user.street"
  #street="ngModel"
  />
  <div *ngIf="!street.valid" class="alert alert-danger">
    <div *ngIf="street.errors.required">
      Address is required.
    </div>
  </div>

  <label for="unit">Unit/Apt</label>
  <input 
  class="form-control"
  placeholder="Unit/Apt"
  type="text" 
  name="unitApt"
  />

  <label for="city">City</label>
  <input 
  class="form-control"
  type="text"
  name="city"
  placeholder="City"
  required
  [(ngModel)]="user.city"
  #city="ngModel"
  />
  <div *ngIf="!city.valid" class="alert alert-danger">
    <div *ngIf="city.errors.required">
      City is required.
    </div>
  </div>

  <label for="state">State</label>
  <select id="state" class="form-control"
    state="state" required >
    <option *ngFor="let state of states" [value]="state">{{ state }}</option>
  </select>

  <label for="state">I'm felling lucky:</label>
  <input 
  type="radio"
  name='feeling'
  required
  /> Yes    
  <input 
  type="radio"
  name='feeling'
  required
  /> No

  <button type="submit" class="btn btn-default" 
  [disabled]="!myForm">Submit</button>

</form>
