
<div class="container">

  <div id="left">   
    <h3>Farm</h3>
    <p>(Earns 2-5 Gold)</p>
    <button class="btn btn-primary" type="submit" (click)="sendToParentGold('farm')">Find Gold!</button>
  </div>

  <div id="left">  
    <h3>Cave</h3>
    <p>(Earns 5-10 Gold)</p>
    <button class="btn btn-primary" type="submit" (click)="sendToParentGold('cave')">Find Gold!</button>
  </div>

  <div id="left">
    <h3>Casino</h3>
    <p>(Earn/Lose 100 Gold)</p>   
    <button class="btn btn-primary" type="submit" (click)="sendToParentGold('casino')">Find Gold!</button>
  </div>

  <div id="left">   
    <h3>House</h3>
    <p>(Earns 7-15 Gold)</p>
    <button class="btn btn-primary" type="submit" (click)="sendToParentGold('house')">Find Gold!</button>
  </div>
     
</div>    